{% extends 'base.html' %} {% load static %}

<!DOCTYPE html>
<html>
  <head>
    <title>{% block title %} OnlyPets - Índice {% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}" />
  </head>
  <body>
    {% block content %}
    <div class="row">
      <div class="col-md-4">
        <div class="card mb-4">
          <img
            src="{% static 'img/perro1.webp' %}"
            class="card-img-top img-fluid"
            alt="Producto 1"
            style="max-height: 200px; object-fit: cover"
          />
          <div class="card-body">
            <h5 class="card-title">Perrito 1</h5>
            <p class="card-text">Este es un perrito salchicha.</p>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="card mb-4">
          <img
            src="{% static 'img/perrito2.webp' %}"
            class="card-img-top img-fluid"
            alt="Producto 2"
            style="max-height: 200px; object-fit: cover"
          />
          <div class="card-body">
            <h5 class="card-title">Perrito 2</h5>
            <p class="card-text">Este es un bulldog francés.</p>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-4">
        <div class="card mb-4">
          <img
            src="{% static 'img/perrito3.jpg' %}"
            class="card-img-top img-fluid"
            alt="Producto 2"
            style="max-height: 200px; object-fit: cover"
          />
          <div class="card-body">
            <h5 class="card-title">Perrito 3</h5>
            <p class="card-text">Estos son dos perritos.</p>
          </div>
        </div>
      </div>
    </div>
    {% endblock %}
  </body>
</html>
