{% extends 'base.html' %} {% load static %}

<!DOCTYPE html>
<html>
  <head>
    <title>{% block title %} OnlyPets - Índice {% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}" />
  </head>
  <body>
    {% block content %}
    <div class="container">
      <h1>Mascotas Públicos</h1>
      <div class="row">
        {% for pets in pets %}
        <div class="col-md-4">
          <div class="card" style="width: 18rem">
            <img
              class="card-img-top"
              src="{{ pets.image_url }}"
              alt="{{ pets.name }}"
            />
            <div class="card-body">
              <h5 class="card-title">{{ pets.name }}</h5>
              <p class="card-text">{{ pets.description }}</p>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
    {% endblock %}
  </body>
</html>
